<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application>

        <!-- SplashActivity'nin MAIN ve LAUNCHER ozelliklerini CarLauncher modulu icin siliyoruz -->
        <activity android:name="app.organicmaps.SplashActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias android:name="app.organicmaps.DownloadResourcesActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity-alias>
        
        <activity
            android:name="app.organicmaps.carlauncher.CarLauncherActivity"
            android:theme="@style/MwmTheme"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="uiMode|orientation|screenLayout|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="app.organicmaps.carlauncher.music.MusicPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

    </application>

</manifest>
